h1,h3,h4,a{
	color:#747774;
}
h2,hr{
	color:#BCBBBB;
}
hr{
	border: 10px solid;
	margin-bottom: 30px;
}
h1{
	font-size:-webkit-xxx-large;
	font-weight: 100;
}
h2{
	font-size:xx-large;
}
h4{
	font-size:xx-large;
	margin-bottom: 10px;
	margin-top: 10px;
}
a href{
	font-weight: 100;
}
*{
	border:0px solid red !important;
	font-family: 'Lato', sans-serif;
}
*{
	-webkit-box-sizing:border-box;
	-moz-box-siizng:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;

}
.container{
	width: 1000px;
	margin-right: 10%;
	margin-left: 10%
}
.row{
	width: 100%;
	display: flex;
	flex-wrap:wrap;
}
.col-1{
	width: 8.33%;
}
.col-2{
	width: 16.66%;
}
.col-3{
	width:25%;
}
.col-4{
	width:33.33%;
}
.col-5{
	width:41.66%;
}
.col-6{
	width:50%;
}
.col-9{
	width:75%;
}
.col-10{
	width:83.32%;
}
.col-12{
	width: 100%;

}
.col-12,.col-4{
	text-align: center;
}
@media only screen and (max-width:500px){
	p{
		display:none;
	}
}