.container{
}
*{
	border: 1px solid red !important;
}
*{
	-webkit-box-sizing:border-box;
	-moz-box-siizng:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;

}
body{
	text-align: center;
}
.row{
	display: flex;
	flex-wrap:wrap;
}
.col-4{
	width: 33.33%;
}
.col-6{
	width: 50%;
}
.col-12{
	width: 100%;
}